html{
  background: #5033D2;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.logo {
  background: url(/img/conv3rsion-10-nov.svg) no-repeat;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 10px 20px 10px;
  margin: 0 10px;
  font-size: 40px;
  width: 0 auto;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.content {text-align: center;}
.btn-wp {
  background-color: #33D26B;
}

.channel-brand {
  width: 200px;
  display: inline-block;
}

/* @group text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h1 {
	font-size: 24px;
	padding: 15px 0 10px 0;
}
h2 {
  font-size: 20px;
}
a {
  text-decoration:none;
  padding: 10px 20;
  color: #9C8BE7;
}
h2 a {
	border-bottom: 1px dotted #000;
}
h3 a {
	color:#666;
}
p {
  margin: 2em 0;
}
/* @end text */ 

.value-proposition {
  width: 30%;
  margin: 0 auto;
}

.active {
  font-weight: bold;
  display: inline-block;
  background-color: #C2B9F1; 
  border-radius: 8px;
  padding: 5px 10px;
  color: #33229F;
  margin: 0 5px;
}
.logo-picture img {
  width: 400px;
}
.language-menu {
  margin-top: 0;
}